/* Custom CSS for the Student Portal */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	margin: 0;
	background-color: #1C2E40;
	font-family: "Lato", Arial, sans-serif;
	color: #efefef;
	overflow: hidden;
}

iframe {
	border: none;
	margin: none;
}

.navbar {
	border-radius: 0px !important;
	height: 60px;
}

.navbar li a {
	text-transform: uppercase;
}

.nav > li {
	border-right: 1px solid #88A1B9;
	margin-bottom: -1px;
}

.nav > li.dropdown {
	border-left: 1px solid #88A1B9;
	margin-bottom: -1px;
}

.nav > li,
.nav > li > a {
	font-size: 14px;
	margin-top: -1px;
	line-height: 31px !important;
}

.nav > li > a {
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
}

.nav .fa-bars {
	padding-left: 19px;
	padding-right: 0;
	min-width: 30px;
	width: 100%;
	font-weight: 400;
  font-size: 24px;
  margin-left: -1px;
}

.nav > li:hover,
.nav > li:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #4A7BAB !important;
  color: #efefef !important;
}

.active,
.active > a {
  background-color: #345678 !important;
  color: #efefef !important;
}

/* Sidebar CSS settings */
.sidebar {
	position: relative;
	background-color: #efefef;
	color: #777;
/*	left: -80px; */
	transform: translateX(-1px);
	-moz-transform: translateX(-1px);
	-webkit-transform: translateX(-1px);
}

.sidebar > ul,
.sidebar  ul  li {
	height: 60px;
	list-style: none;
}

.sidebar > ul > li a,
.sidebar-submenu > ul > li a,
.panel-title > a {
	font-family: "Lato", Arial, FontAwesome sans-serif;
	padding: 0 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 100%;
	width: 100%;
	font-size: 14px;
}

.sidebar-menu::before {
	margin-top: -3px;
	margin-left: -15px;
	vertical-align: -2px;
	width: 30px;
	height: 3px;
	content: '';
}

.panel-heading,
.panel-title{
	padding-top: 8px;
	margin-left: -8px;
}

.sidebar-submenu li,
.sidebar-submenu li a {
	padding-top: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left: -20px;
	margin-bottom: -10px;
	line-height: 30px;
	text-align: left;
}

.collapse {
	transition: 0.3s, height 0.3s;
	-moz-transition: 0.3s, height 0.3s;
	-webkit-transition: 0.3s, height 0.3s;
}

.panel-title a:focus,
.panel-title a:hover,
.sidebar-submenu li a:focus,
.sidebar-submenu li a:hover {
	text-decoration: none;
}

.sidebar-trigger {
  width: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-trigger::after{
	clear: both;
}

.sidebar-wrapper {
	position: fixed;
	top:60px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	width: 60px;
	transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
	transition: 0.3s, width 0.3s;
	-moz-transition: 0.3s, width 0.3s;
	-webkit-transition: 0.3s, width 0.3s;
}

.sidebar-wrapper.open-all {
	width: 320px;
}

.sidebar-wrapper.open-part {
	width: 34px;
}

.sidebar-scroll {
	overflow-y: scroll;
	width: 347px;
}

.sidebar-icon {
	margin-left: 5px;
	margin-right: 10px;
	width:20px;
}

.welcome {
	color: #fff;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 100px;
	padding-left: 150px;
}

.welcome h1 {
	font-size: 3.2em;
	line-height: 1.3;
	font-weight: 300;	
}

.welcome span {
	display: block;
	font-size: 30px !important;
	font-weight: 100;
	color: #88A1B9;
	padding: 0 0 0,6em 0.1em;
}