<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<title>Student Portal</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/student.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
	</head>
	<body>
	<script type="text/x-handlebars">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class='gn-trigger'>
					<a class='gn-icon gn-icon-menu'><span>Menu</span></a>
					<nav class='gn-menu-wrapper'>
						<div class='gn-scroller'>
							<ul class='gn-menu'>
								{{!-- sidebar --}}
								{{#each link in sidemenu}}
								  <li class="sideItem"><a {{bind-attr class=':gn-icon link.icon'}}> {{link.text}}</a>
								  {{#if link.submenu}}
								  	<ul class='gn-submenu'>
								  	{{#each item in link.submenu}}
								  	  {{#link-to item.route tagName='li'}}<a>{{item.text}}</a>{{/link-to}}
								  	{{/each}}
								  	</ul>
								  {{/if}}
								{{/each}}
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				{{!-- topmenu --}}
				{{#link-to 'index' tagName='li'}}<a href='#'><span class="fa fa-home"></span> HOME</a>{{/link-to}}
				{{#each link in topmenu}}
					{{#link-to link.text tagName='li'}}<a><span {{bind-attr class=":fa link.icon" }}></span> {{link.text}}</a>{{/link-to}}
				{{/each}}
				<li class='gn-dropdown-trigger'>
					{{#each user in instances}}
						{{#if user.default}}
						  <a>{{user.name}} <b class="fa fa-angle-down"></b></a>
						{{/if}}	
					{{/each}}
					<ul class="gn-dropdown">
						<li class='heading'><span class='fa fa-users'></span>&nbsp;&nbsp;Users</li>
						{{#each option in instances}}
					  	<li><a>{{option.name}}</a></li>
						{{/each}}
						<li class='heading'><a id='signOut'><span class='fa fa-sign-out'></span>&nbsp;&nbsp;Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /container -->
		<div id='contentbody'>
			{{outlet}}
		</div>
	</script>

	<script type="text/x-handlebars" id="index">
		<div class="welcomediv">
	    <h1>
	    	Welcome WGU Student!
	    	<span>Use the menu above to select an action.</span>
	    </h1>
	  </div>
	</script>

	<!-- Javascript Library -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/handlebars.js"></script>
		<script type="text/javascript" src="js/ember.js"></script>
		<script type="text/javascript" src="js/ember-data.js"></script>
		<script type="text/javascript" src="js/modernizr.custom.js"></script>
		<script type="text/javascript" src="js/classie.js"></script>
		<script type="text/javascript" src="js/gnmenu.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>
